{
    "trailingComma": "es5",
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "singleQuote": true,
    "printWidth": 140,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false
}
